input {
    height: 35px;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid purple;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(0, 0, 0, 0.25);
    color: white;
}

input:focus-visible{
    outline: none;
    border-color: rgb(176, 0, 176);
}

input::placeholder{
    color: rgb(255, 255, 255, 0.5);
}