.TodoItem {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(141, 174, 251, 0.2);
    color: white;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
}

.TodoItem-p{
    text-align: center;
    margin: 0px 15px;
    max-width: 220px;
    overflow-wrap: break-word;
}

.TodoItem-p--completed {
    text-decoration: line-through;
}

.TodoItem:hover{
    background-color: rgba(141, 174, 251, 0.3);;
}